<a href="https://colab.research.google.com/github/chiraggarg890/Credit_card_Fraudulent_Detection/blob/main/Credit_Card_Fraudulent_Detection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies (libraries and functions which we need for our program)

In [1]:
import numpy as np
import pandas as pd     # used to make data frames( data is in the form of structured Rows and Columns)
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset into Pandas DataFrame
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

Here time means time elapsed in seconds from the first transaction. v1,v2 etc are the various features (Credit Card Data is sensitive so here the dataset provider has converted the features into numerical values through PCA and provided us with numerical values ) and amount represents the amount for which the transaction was made and class =0 means legit and class =1 means fraud.

In [5]:
# last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
45641,42436,-2.481639,-2.439949,0.363642,1.216827,2.572442,-1.264220,-0.443652,0.075853,0.073188,...,-0.039426,0.480591,1.779358,-0.756700,-0.161099,0.685617,0.223071,0.139619,0.00,0.0
45642,42436,1.223475,0.014944,0.471312,-0.038410,-0.566793,-0.867970,-0.058213,-0.144080,0.164904,...,-0.053292,-0.093680,0.106348,0.471407,0.135555,0.968336,-0.065171,0.005184,7.49,0.0
45643,42436,1.258657,0.421016,0.325437,0.684259,-0.292529,-1.052786,0.145228,-0.253567,-0.100521,...,-0.278029,-0.757417,0.119613,0.369393,0.246145,0.091553,-0.017156,0.032557,0.89,0.0
45644,42437,-0.500147,1.000770,1.809639,-0.114551,0.333865,-0.577076,1.062325,-0.513050,-0.048285,...,-0.193814,-0.161410,0.036965,0.400154,-0.802486,-0.076097,-0.214317,-0.229160,2.69,0.0
45645,42437,-0.652459,0.177290,1.955607,-1.879724,-0.368457,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45646 entries, 0 to 45645
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    45646 non-null  int64
 1   V1      45646 non-null  float64
 2   V2      45646 non-null  float64
 3   V3      45646 non-null  float64
 4   V4      45646 non-null  float64
 5   V5      45646 non-null  float64
 6   V6      45645 non-null  float64
 7   V7      45645 non-null  float64
 8   V8      45645 non-null  float64
 9   V9      45645 non-null  float64
 10  V10     45645 non-null  float64
 11  V11     45645 non-null  float64
 12  V12     45645 non-null  float64
 13  V13     45645 non-null  float64
 14  V14     45645 non-null  float64
 15  V15     45645 non-null  float64
 16  V16     45645 non-null  float64
 17  V17     45645 non-null  float64
 18  V18     45645 non-null  float64
 19  V19     45645 non-null  float64
 20  V20     45645 non-null  float64
 21  V21     45645 non-null  float64
 22  V22     45645 non-null  float64
 23  V23     45645 non-null  float64
 24  V24     45645 non-null  float64
 25  V25     45645 non-null  float64
 26  V26     45645 non-null  float64
 27  V27     45645 non-null  float64
 28  V28     45645 non-null  float64
 29  Amount  45645 non-null  float64
 30  Class   45645 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 10.8 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [8]:
#drop missing values
credit_card_data= credit_card_data.dropna(how='any')

In [9]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
#distribution of lgit transactions & Fraudulent Transactions
credit_card_data['Class'].value_counts()

0.0    45503
1.0      142
Name: Class, dtype: int64

We see that the data is highly imbalanced as about 99% of data belongs to a single class. Hence we should first make the dataset balanced. So we cannot feed this data into our Machine Learning Model because the data for the fraud is very small so our ML model will not be able to learn properly and will always predict the transaction to be true.

This dataset is highly imbalanced.

0 --> Normal Transactions

1 --> Fraudulent Transactions

In [11]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [12]:
print(legit.shape)
print(fraud.shape)

(45503, 31)
(142, 31)

In [13]:
# statistical measures of the data
legit.Amount.describe()

count    45503.000000
mean        90.808470
std        240.322652
min          0.000000
25%          7.580000
50%         24.990000
75%         82.360000
max       7879.420000
Name: Amount, dtype: float64

In [14]:
fraud.Amount.describe()

count     142.000000
mean       97.592183
std       233.185192
min         0.000000
25%         1.000000
50%         8.370000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
# comapre the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,27549.332857,-0.21371,0.011525,0.732168,0.173212,-0.230885,0.106122,-0.092498,0.041321,0.169777,...,0.046284,-0.029987,-0.108242,-0.038246,0.009637,0.136319,0.021863,0.003681,0.004547,90.808470
1.0,26193.556338,-7.87188,5.609155,-10.671851,6.067972,-5.862266,-2.315720,-8.269674,3.901566,-3.650345,...,0.486666,0.898581,-0.250143,-0.300033,-0.079930,0.257712,0.163858,0.596174,0.034797,97.592183

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transaction

Number of Fraudulent Transactions -> 142

In [16]:
# Here we are Random Sampling (It is one of the good methods)
legit_sample = legit.sample(n=142)

Concatenating two DataFrames

In [17]:
new_dataset =pd.concat([legit_sample, fraud], axis =0)
# Here axis = 0 means fraud data will added after legit_sample data and will be added Rowwise whereas if we would have written axis =1 then data would have been added columnwise which we do not want.

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
32814,36975,1.230372,0.203217,0.628537,0.927927,-0.245080,-0.122833,-0.205121,-0.057064,0.242158,...,-0.092530,-0.224401,-0.070891,-0.457773,0.462475,-0.464653,0.052381,0.033410,19.40,0.0
35152,37989,0.800326,-1.427396,-0.097453,-0.529858,-1.134342,-0.491852,-0.077162,-0.158231,-1.159454,...,-0.381142,-1.364600,-0.124683,0.002303,-0.039697,0.788610,-0.121898,0.048514,306.00,0.0
10736,18209,1.128457,-0.375890,1.115064,-0.629260,-1.014822,-0.099195,-0.838243,0.165208,2.852007,...,-0.065429,0.273490,0.010652,0.183281,0.337615,-0.726158,0.076749,0.018898,11.85,0.0
13776,24430,0.899154,-0.293818,1.404180,1.911761,-0.735406,0.873092,-0.631272,0.314374,2.241765,...,-0.460196,-0.781822,0.049830,0.163669,0.324016,-0.585072,0.049348,0.025677,75.99,0.0
34819,37838,0.847612,-1.718757,0.135955,-0.277621,-1.195311,0.245979,-0.498281,-0.061618,0.036444,...,0.191561,0.140933,-0.501126,-0.488584,0.670835,-0.064686,-0.016206,0.058418,309.60,0.0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
44091,41791,-7.222731,6.155773,-10.826460,4.180779,-6.123555,-3.114136,-6.895112,5.161516,-2.516477,...,0.912700,-0.630358,0.190887,-0.061263,0.379775,-0.266845,1.193695,0.257468,99.99,1.0
44223,41851,-19.139733,9.286847,-20.134992,7.818673,-15.652208,-1.668348,-21.340478,0.641900,-8.550110,...,-2.182692,0.520543,-0.760556,0.662767,-0.948454,0.121796,-3.381843,-1.256524,139.90,1.0
44270,41870,-20.906908,9.843153,-19.947726,6.155789,-15.142013,-2.239566,-21.234463,1.151795,-8.739670,...,-1.977196,0.652932,-0.519777,0.541702,-0.053861,0.112671,-3.765371,-1.071238,1.00,1.0
44556,41991,-4.566342,3.353451,-4.572028,3.616119,-2.493138,-1.090000,-5.551433,0.447783,-2.424414,...,2.674466,-0.020880,-0.302447,-0.086396,-0.516060,-0.295102,0.195985,0.141115,1.00,1.0
45203,42247,-2.524012,2.098152,-4.946075,6.456588,3.173921,-3.058806,-0.184710,-0.390420,-3.649812,...,0.027935,0.220366,0.976348,-0.290539,1.161002,0.663954,0.456023,-0.405682,1.00,1.0

In [20]:
new_dataset['Class'].value_counts()

0.0    142
1.0    142
Name: Class, dtype: int64

In [21]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,27549.332857,-0.21371,0.011525,0.732168,0.173212,-0.230885,0.106122,-0.092498,0.041321,0.169777,...,0.046284,-0.029987,-0.108242,-0.038246,0.009637,0.136319,0.021863,0.003681,0.004547,90.808470
1.0,26193.556338,-7.87188,5.609155,-10.671851,6.067972,-5.862266,-2.315720,-8.269674,3.901566,-3.650345,...,0.486666,0.898581,-0.250143,-0.300033,-0.079930,0.257712,0.163858,0.596174,0.034797,97.592183

Here in the above output we see that the mean of both legit and fraud class remain almost similar . This is good because it means that the sample dataset we have made is good . If the values would have changed drastically then the sample dataset we made is bad.

Splitting the data into features and Targets

In [22]:
X= new_dataset.drop(columns='Class', axis =1)
Y=new_dataset['Class']

In [23]:
print(X)

        Time         V1        V2         V3        V4         V5        V6  \
32814  36975   1.230372  0.203217   0.628537  0.927927  -0.245080 -0.122833
35152  37989   0.800326 -1.427396  -0.097453 -0.529858  -1.134342 -0.491852
10736  18209   1.128457 -0.375890   1.115064 -0.629260  -1.014822 -0.099195
13776  24430   0.899154 -0.293818   1.404180  1.911761  -0.735406  0.873092
34819  37838   0.847612 -1.718757   0.135955 -0.277621  -1.195311  0.245979
...      ...        ...       ...        ...       ...        ...       ...
44091  41791  -7.222731  6.155773 -10.826460  4.180779  -6.123555 -3.114136
44223  41851 -19.139733  9.286847 -20.134992  7.818673 -15.652208 -1.668348
44270  41870 -20.906908  9.843153 -19.947726  6.155789 -15.142013 -2.239566
44556  41991  -4.566342  3.353451  -4.572028  3.616119  -2.493138 -1.090000
45203  42247  -2.524012  2.098152  -4.946075  6.456588   3.173921 -3.058806

              V7        V8        V9  ...       V20       V21       V22  \
32814  -0.205121 -0.057064  0.242158  ... -0.001821 -0.092530 -0.224401
35152  -0.077162 -0.158231 -1.159454  ...  0.143141 -0.381142 -1.364600
10736  -0.838243  0.165208  2.852007  ... -0.184448 -0.065429  0.273490
13776  -0.631272  0.314374  2.241765  ... -0.109568 -0.460196 -0.781822
34819  -0.498281 -0.061618  0.036444  ...  0.699999  0.191561  0.140933
...          ...       ...       ...  ...       ...       ...       ...
44091  -6.895112  5.161516 -2.516477  ...  0.818859  0.912700 -0.630358
44223 -21.340478  0.641900 -8.550110  ...  0.427203 -2.182692  0.520543
44270 -21.234463  1.151795 -8.739670  ...  0.396655 -1.977196  0.652932
44556  -5.551433  0.447783 -2.424414  ... -0.249128  2.674466 -0.020880
45203  -0.184710 -0.390420 -3.649812  ... -0.162797  0.027935  0.220366

            V23       V24       V25       V26       V27       V28  Amount
32814 -0.070891 -0.457773  0.462475 -0.464653  0.052381  0.033410   19.40
35152 -0.124683  0.002303 -0.039697  0.788610 -0.121898  0.048514  306.00
10736  0.010652  0.183281  0.337615 -0.726158  0.076749  0.018898   11.85
13776  0.049830  0.163669  0.324016 -0.585072  0.049348  0.025677   75.99
34819 -0.501126 -0.488584  0.670835 -0.064686 -0.016206  0.058418  309.60
...         ...       ...       ...       ...       ...       ...     ...
44091  0.190887 -0.061263  0.379775 -0.266845  1.193695  0.257468   99.99
44223 -0.760556  0.662767 -0.948454  0.121796 -3.381843 -1.256524  139.90
44270 -0.519777  0.541702 -0.053861  0.112671 -3.765371 -1.071238    1.00
44556 -0.302447 -0.086396 -0.516060 -0.295102  0.195985  0.141115    1.00
45203  0.976348 -0.290539  1.161002  0.663954  0.456023 -0.405682    1.00

[284 rows x 30 columns]

In [24]:
print (Y)

32814    0.0
35152    0.0
10736    0.0
13776    0.0
34819    0.0
        ...
44091    1.0
44223    1.0
44270    1.0
44556    1.0
45203    1.0
Name: Class, Length: 284, dtype: float64

Split the data into Training data & Testing data

In [25]:
X_train , X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state =2)
# stratify = Y distibutes the class 0 & 1 quite equally in test data and train data otherwise it would have been a very unequal distribution.

In [26]:
print (X.shape, X_train.shape , X_test.shape)

(284, 30) (227, 30) (57, 30)

Model Training

Logistic Regression

Generally Logistic Regression is better for Binary Classification

In [30]:
model = LogisticRegression(solver='lbfgs', max_iter=1000)

In [31]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

Model Evaluation

Accuracy Score

In [32]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction , Y_train)

In [33]:
print('Accuracy on Training Data :' ,training_data_accuracy  )

Accuracy on Training Data : 0.986784140969163

In [34]:
# accuracy on testing data
X_test_prediction = model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction , Y_test)

In [35]:
print('Accuracy on Testing Data :' ,testing_data_accuracy  )

Accuracy on Testing Data : 0.9824561403508771

The accuracy on training data and testing data is quite similar . If both were different then the model was either overfitted or Underfitted. If the training accuracy is very high and testing accuracy is low then it means the model is overfitted and if training accuracy is low and testing accuracy is high then it means our model is underfitted (over generalisation has taken place).